@import "tailwindcss";

:root {
  --color-primary: #1C7ABF;
  --color-white: #FFFFFF;
  --color-bg: #f0f0f0;
  --color-text: #000000;
}

@theme inline {
  --color-background: var(--color-bg);
  --color-foreground: var(--color-text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
}
